
@model ToDoApp.Contollers.Feladat
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div> 
        @*A razor kódban a html és az url helper teszi lehetővé, hogy ne tiszta html kódot kelljen írnunk, hanem a kapott model köré tudjuk szervezni a cshtml kódot
        az alábbi formot most a Html helper használatával fogjuk generálni*@
        @*<form action="/Home/Add" method="post">
            <input type="text" name="Megnevezes" value="" />
            <button>Felvitel</button>
        </form>*@
        @*Ez a form felé kiírja az űrlap kitöltésével való problémákat*@
        @Html.ValidationSummary()
        @using (Html.BeginForm())
        {
            <div>
                @Html.LabelFor(m => m.Megnevezes)


            </div>
            <div>
                @Html.TextBoxFor(m => m.Megnevezes)
                @*Ez meg a mezővel való gondot írja ki*@
                @Html.ValidationMessageFor(m=>m.Megnevezes)
            </div>
            <div>
                <button>Új elem felvitele</button>
                 @Html.ActionLink("Mégsem", "Index")
            </div>
        }
    </div>
</body>
</html>
