
@*Ha modelt akarunk átvenni
    @model-el kell kezdeni és csak egy darab paramétert(ezért nem kell neki név sem) lehet neki adni ennek a típusát kell megadni. Ezzel mondjuk meg milyen típusú adatot várunk az Action-tól
    Ezután lesz egy List<string> típusú Model nevű változőnk
    *@
@model List<ToDoApp.Contollers.Feladat>
@{ 
    ViewBag.Title = "Feladatlista";
}
    @*A reszponzív oldalakhoz a grid szerkezetet a row és a bele ágyazott col osztályú diveket kell használni a col szélességét a col-méret-szélesség adja meg 
    amiből a méret azt adja meg hogy mekkora kijelzőről van szó (pl: lg-> large)
    a szélesség pedig azt jeleniti, hogy a képernyő szélességének hány 12-ed részét foglalja el az oszlop
    ilyenből többet is meg lehet adni és akkor különböző méretű kijelzőkön másként fog viselkedni*@
    
    <div class="row">
        <div class="col col-lg-3">
            Ez egy oszlop
        </div>
        <div class="col col-lg-7">
            <ul class="list-group">
                @*Lista bejárása foreach ciklussal  Ha a modelt használjul*@
                @foreach (var elem in Model)
        {
            if (elem.Elvegezve)
            {
                        <li class="list-group-item"><del>@elem.Megnevezes</del> @Html.ActionLink("Módosítás", "Edit", new { id = elem.Id }) @Html.ActionLink("Törlés", "Delete", new { id = elem.Id })</li>
                    }
                    else
                    {
                        //A link összeállítása a routeconfigban szereplő url template alapján történik
                        <li class="list-group-item">@elem.Id @elem.Megnevezes @Html.ActionLink("Módosítás", "Edit", new { id = elem.Id }) @Html.ActionLink("Törlés", "Delete", new { id = elem.Id })</li>
                    }
                }
            </ul>
        </div> 
        @*A razor kódban a html és az url helper teszi lehetővé, hogy ne tiszta html kódot kelljen írnunk, hanem a kapott model köré tudjuk szervezni a cshtml kódot*@
        @*Html-ben a hivatkozás így nézne ki
        <a href="http://google.com">Ez egy link</a>*@

        @*A külső hivatkozásokhoz ez is jó azonban ha az alkalmazás egyik action-jét  akarjuk meghívni,
             akkor nem érdemes  megkerülni az útválasztást ezért Razorban a helper-t használjuk inkább*@
        @*Mivel az Index (az ehhez a view-hoz tartozó) action és a hívni kívánt Add action ugyanabban a Contorolleren (Home) van ezért annak megadása nem szükséges
        @Html.ActionLink("Új elem felvitele","Add","Home")
            
            Ennek így most CSS-osztályt is adunk
            *@
        <div class="col col-lg-2 col">@Html.ActionLink("Új elem felvitele", "Add", null, new { @class = "btn btn-warning" })</div>
    </div>
