@model ToDoApp.Contollers.Feladat
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Modify</title>
</head>
<body>
    <div> 
        @Html.ValidationSummary()
        @using (Html.BeginForm())
        {
            <div>
                @Html.LabelFor(m => m.Megnevezes)
                @Html.TextBoxFor(m => m.Megnevezes)
                @*Ez meg a mezővel való gondot írja ki*@
                @Html.ValidationMessageFor(m => m.Megnevezes)
            </div>
            <div>
                <button>Módosítás</button>
                @*@Html.ActionLink("Törlés", "Delete")*@
                @Html.ActionLink("Mégsem", "Index")
            </div>
        }
    </div>
</body>
</html>
